{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar uma Carta</title>
</head>
<body>
    {% include 'CardMakerApp/links.html' %}
    <h1>Criar uma carta</h1>
    
    <form action="" method = "post">
        
        {% csrf_token %}
        <table>

            {{ formulario.as_table }}

        </table>
        
        <br>
        <button type="submit">Criar carta</button>

    </form>
</body>
</html>